@media  screen and (max-width:576px) {
    .nav-list nav ul{
        display: none;
    }
    .hambarg{
        display: block;
        color: #ffff;
        font-size: 2rem;
    }
    .over-all-banner{
        flex-direction: column;
    }
    .banner-content{
        max-width: 100%;
        height: 489px;
    }
    .banner-content p{
        margin: 39px 0px;
    }
    .video-tutorial{
        bottom: 23%;
        right: 48%;
    }
    nav{
        border: none;
    }

    i.fa-solid.fa-play {
        color: #ffff;
        display: block;
        position: absolute;
        top: 33%;
        left: 24%;
        font-size: 17px;
    }
    .video-tutorial-two{
    top: 51%;
    right: 0%;
    }
    .habit-img-content{
    flex-direction: column;
    align-items: center;
    }
    .run-all-part{
        flex-direction: column;
        max-width: 91%;
        padding: 25px 31px;
    }
    .run-text {
        max-width: 92%;

    }
    .run-img img {
 
        object-fit: cover;
       
    }
    .run-img {
        max-width: 92%;
    }
    .btn-three {
        padding: 21px 110px 25px 105px;
        font-size: 1.5rem;
    }
    .bmi-table {
        display: flex;
     
        flex-direction: column;
        
        max-width: 100%;
    }
    .bmi-calculation {
        max-width: 100%;
        margin: 0px 17px;
    }
    .bmi-main-cal {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(248px, 1fr));
        gap: 10px;
    }
    .bmi-list {
      
        max-width: 60%;
        margin-left: 31px;
    }
    .bmi-main-cal select {
        padding: 16px 32px 14px 15px;
        font-size: 0.9rem;
        
    }
    .bmi-title {
        max-width: 89%;

    }

    .meet-our-img{

        
        grid-template-columns: repeat(1, 1fr);

        }
        .one-pic{
            display: none;
        }
        .two-pic{
            display: none;
        }
        .meet-team-head {
            
        padding: 62px 0px;
        }
        .meet-team-head h1 {

            padding: 21px 0px;
        }
        .end-part-main {
            max-width: none;
            display: flex; 
            padding: 53px 18px;
            flex-direction: column;
            align-items: flex-start;
        }
        .footer-one {
            width: inherit;
        }
        .footer-two{
            width: inherit;
        }
        .footer-three{
            width:inherit;
        }
        .footer-one h1 , .footer-one p{
            text-align: left;
        }
        .footer-two ul li,.footer-three ul li {
            list-style: none;
            padding: 10px 0px;
            text-align: left;
        } 
        .price-main {

            max-width: 80%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .price-element {
            text-align: center;
        }
        .price-head {
            max-width: 94%;

            padding: 35px 0px;
        }
        .price-head p {

            padding: 23px 0px;
        }
}