/* font link here */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

 @import url('https://fonts.cdnfonts.com/css/miama');

                
*{
    margin: 0;
    padding: 0;
}

/* header part start here */
.main-bg-color{
    background: linear-gradient(180deg, #111111 100%, rgba(119, 119, 119, 0) 100%);


}
.navbar-main{
    padding: 20px;

}

.nav{
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0px auto;
}
.nev-title{
    font-family: 'Inte';
    font-size: 2rem;
    font-style: italic;
    font-weight: 800;
    line-height: 2.2rem;
     color: #E6533C;
}
.nav-list{
    

}
.nav-list nav ul{

display: flex;

gap: 37px;
}
.nav-list ul li{

list-style: none;

font-family: 'Inte';

font-size: 0.7rem;

font-weight: 500;

line-height: 0.2rem;
}
.nav-list ul li a{
    text-decoration: none;
    color: #ffff;
    padding: 7px 13px;
    transition: 0.4s;
}
.hambarg{
    display: none;
}
.nav-list ul li a:hover{
    background-color:#E6533C;
    border-radius: 20px;
}

/* header part end here */


/* banner part start */

.over-all-banner{
    display: flex;
    border: 2px solid blue;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
}
.img-content{
    border: 2px solid white;
}
.banner-content{
    border: 2px solid rgb(12, 203, 47);
    width: 600px;
    height: 470px;
    text-align: left;
}
.banner-content h1{

font-family: 'Inte';

font-size: 3.8rem;

font-weight: 900;

line-height: 92.6px;

color: #FFFFFF;
}
.banner-content span{
font-family: 'Miama', sans-serif;                                               
font-size: 4rem;
font-style: italic;
font-weight: 400;
line-height: 93.6px;


}
.banner-content p{
font-family: 'Inter';
font-size: 1rem;  
font-weight: 400;    
line-height: 1.2rem;
color: #FFFFFF80;

}

















/* banner part end */