/* font link here */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

 @import url('https://fonts.cdnfonts.com/css/miama');

                
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header part start here */
.main-bg-color{
    background: rgb(0, 0, 0);


}
.navbar-main{
    padding: 20px;

}

.nav{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0px auto;
}
.nev-title{
    font-family: 'Inte';
    font-size: 2rem;
    font-style: italic;
    font-weight: 800;
    line-height: 2.2rem;
     color: #E6533C;
}
.nav-list{
    

}
.nav-list nav ul{

display: flex;

gap: 37px;
}
.nav-list ul li{

list-style: none;

font-family: 'Inte';

font-size: 0.7rem;

font-weight: 500;

line-height: 0.2rem;
}
.nav-list ul li a{
    text-decoration: none;
    color: #ffff;
    padding: 7px 13px;
    transition: 0.4s;
}
.hambarg{
    display: none;
}
.nav-list ul li a:hover{
    background-color:#E6533C;
    border-radius: 20px;
}

/* header part end here */


/* banner part start */
.banner-section{
 max-width: 80%;
margin: 0 auto;
}

.over-all-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.img-content{
   
    max-width: 50%;
}
.banner-content{
    
 max-width: 50%;
    height: 470px;
    text-align: left;
}
.banner-content h1{

font-family: 'Inte';

font-size: 3.8rem;

font-weight: 900;

line-height: 92.6px;

color: #FFFFFF;
}
.banner-content span{
font-family: 'Miama', sans-serif;                                               
font-size: 4rem;
font-style: italic;
font-weight: 400;
line-height: 93.6px;


}
.banner-content p{
font-family: 'Inter';
font-size: 1rem;  
font-weight: 400;    
line-height: 1.2rem;
color: #FFFFFF80;
margin: 25px 0px;

}
.btn-one{
        padding: 14px 37px 14px 37px;
        border: 1px solid rgb(230, 83, 60);
        border-radius: 40px;
        border: none;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    margin-right: 10px;
    transition: 0.4s ;

}
.btn-two{
    padding: 14px 37px 14px 37px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 40px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    transition: 0.4s ;
}
.btn-one:hover{
    background-color: transparent;
    
    border: 1px solid rgb(255, 255, 255);

}
.btn-two:hover{
    background: rgb(230, 83, 60);
   border: none;

}
.img-content{
 
    max-width: 50%;
}
.video-tutorial{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 179px;
    height: 62px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 11px;
    backdrop-filter: blur(15px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    bottom: 18%;
    right: 19%;
    gap: 11px;
}
.video-tutorial span{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #E6533C;
}
.video-tutorial h5{
    color: rgb(250, 250, 249);
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: 0.3px;
}
.video-tutorial p{
    color: rgb(167, 166, 166);
    font-family: 'Inter';
    font-size: 0.5rem;
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: 0.3px;
}
.video-tutorial-two{
    width: 159px;
    height: 61px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    backdrop-filter: blur(15px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    top: 25%;
    right: -3%;
    gap: 11px;
    padding: 12px 19px;
}
.video-tutorial-two h5{
    color: rgb(250, 250, 249);
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: 0.3px;
}
.video-tutorial-two p{
    color: rgb(167, 166, 166);
    font-family: 'Inter';
    font-size: 0.5rem;
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: 0.3px;
}



/* banner part end */

















/* <!-- change our habits part start here  --> */

.change-habit-header-section{
padding: 60px 0px;
   
}
.change-habit-header{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}
.change-habit-header h1{
color: rgb(255, 255, 255);
font-family: 'Inter';
font-size: 2.2rem;
font-weight: 800;

}
.change-habit-header p{
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Inter';
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 0px;

}

.habit-img-content{
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
    gap: 23px;
    padding: 26px 0px;
}

.habit-img-main-content{
    width: 251px;
    height: 284px;
    
    text-align: center;
}
.habit-img{


}
.maing-habit-img{
 max-width: 100%;
 border-radius: 50%;
    
}
.habit-img-main-content h5{
color: rgb(255, 255, 255);
font-family: 'Inter';
font-size: 1rem;
font-weight: 600;
padding: 10px 0px;

}
.habit-img-main-content p{
 color: rgba(255, 255, 255, 0.5);
 font-family: 'Inter';
font-size: 0.6rem;
font-weight: 400;
letter-spacing: 0.3px;
}


/* <!-- change our habits part end here  --> */




/* <!-- run part start here --> */
.run-all-part{
    
display: flex;
    
max-width: 80%;
    
margin: 0 auto;
    
padding: 30px 42px;
    
gap: 40px;
    
align-items: center;
    
border-radius: 10px;
    
background: rgb(34, 34, 34);
}
.run-text{

max-width: 50%;


}
.run-text h1{
 color: rgb(255, 255, 255);
 font-family: 'Inter';
 font-size: 2.5rem;
 font-weight: 800;
 line-height: 106%;
}
.run-text p{
    
color: rgba(255, 255, 255, 0.5);
    
font-family: 'Inter';
    
font-size: 0.6rem;
    
font-weight: 400;
    
line-height: 22px;
    
padding: 17px 0px;
}
.run-img{

max-width: 50%;
}
.run-img img{
    
max-width: 100%;
    
border-radius: 16px;
}

/* <!-- run part end here --> */
